Checks: '-*,bugprone-*,cert-dcl21-cpp,cert-dcl50-cpp,cert-env33-c,cert-err34-c,cert-err52-cpp,cert-err60-cpp,cert-flp30-c,cert-msc50-cpp,cert-msc51-cpp,cppcoreguidelines-*,google-build-using-namespace,google-explicit-constructor,google-global-names-in-headers,google-readability-casting,google-runtime-int,google-runtime-operator,hicpp-*,misc-*,modernize-*,performance-*,readability-*,-modernize-use-trailing-return-type,-readability-avoid-const-params-in-decls,-hicpp-special-member-functions,-hicpp-use-override,-readability-identifier-length'
CheckOptions:
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1
    - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value: 1
FormatStyle: 'file'
HeaderFilterRegex: '^(?!/lib.*)/include/.*\.hpp$'
