[submodule "cmake-modules"]
	path = cmake-modules
	url = https://github.com/bilke/cmake-modules.git
	branch = master
[submodule "lib/blink1-tool"]
	path = lib/blink1-tool
	url = https://github.com/todbot/blink1-tool.git
	branch = main
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "lib/doxygen-awesome-css"]
	path = lib/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
	branch = main
